body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *:after, *:before{
  box-sizing: border-box;
}

.map{
  width: 100vh;
  height: 100vh;
  position: relative;
}
